body {
    background-color: salmon;
    font-family: 'Alegreya', serif;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 20px 0px;
}

h2 {
    text-align: center;
    margin: 0px 0px 0px;
    font-size: 32px;
    position: relative;
    bottom: -120px;
    color: black;
}

h5 {
    font-family: 'Alegreya', serif;
    font-size: 1.3em;
    margin: 0;
}

.container {
    width: 420px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.break {
    width: 50%;
    height: 100px;
    margin: 30px auto 0px;
    border: none;
}

.work {
    width: 50%;
    height: 100px;
    margin: 30px auto 0px;
    border: none;
}

.timer {
    width: 400px;
    margin: 0 auto;
    border: none;
}

.analog {
    
  
    stroke: wheat;
    stroke-width: 10px;
    fill: none;
    stroke-dasharray: 754px;
    stroke-dashoffset: 0px;
    animation: countdown 10s linear infinite forwards;
    animation-play-state: paused;
}

.svg-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: none;
    transform: rotateZ(-90deg);
}

.analog-bkg {

    margin: 0 auto;
    border: none;
    stroke: rgb(87, 83, 77);
    stroke-width: 10px;
    fill: none;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

@keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: -754px;
    }
}

.btn {
    display: inline;
    background-color: salmon;
    border: 0 none;
    font-family: 'Alegreya', serif;
    outline: none;
}

.btn:hover {
    color: red;
    outline: none;
}

.btn:active {
    outline: none;
}

.btn > h1 {
    padding: 0;
    margin: 0;
    font-size: 32px;
}

#display-break, #display-work {
    background-color: salmon;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0 0;
}

.display-timer {
    width: 150px;
    display: flex;
    position: relative;
    top: -170px;
    left: 5px;
    margin: 0 auto;
}

#display-timer {
    background-color: salmon;
    width: 120px;
    height: 50px;
    border: none;
    font-size: 40px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0 0;
    color: wheat;
}

#display-milisec {
    background-color: salmon;
    width: 0px;
    height: 50px;
    border: none;
    font-size: 24px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0 0;
    color: wheat;
    position: relative;
    top: 5px;
}

#timer-pause, #timer-start {
    position: relative;
    top: -60px;
    margin: 0 20px;
    font-size: 32px;
}
